<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/login.css' />
  </head>
  <body>
    <div class="myMar">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">登录</a></li>
          <li role="presentation"><a href="/register#profile" aria-controls="profile" role="tab" data-toggle="tab">注册</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <form method="POST" >
              <div class="container-fluid mymar col-sm-offset-2">
                <div class="form-group row myMin myTextcen">
                  <label class="col-sm-2 col-xs-4 text-right" for="exampleInputUser">用户名</label>
                  <div class="col-sm-3 col-xs-6">
                    <input type="text" name="userName" class="form-control" id="exampleInputUser" placeholder="用户名">
                  </div>
                </div>
                <div class="form-group row mymar myTextcen">
                  <label class="col-sm-2 col-xs-4 text-right" for="exampleInputPassword1">密码</label>
                  <div class="col-sm-3 col-xs-6"> 
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
                  </div>
                </div>
              <div class="row mymar myTextcen">
                <button type="submit" class="btn col-sm-3 col-xs-6 col-sm-offset-2 col-xs-offset-4 btn-success">登录</button>
              </div>
            </div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">...</div>
        </div>
      </div>
      <%if(status==2){%>
       <div class="myTextcen myAlign myPos" >
          <div class="bg-success mybg">
            <p>账号密码错误!</p>
            <button class="btn myBtnQR">确认</button>
          </div>
       </div>
       <%}else if(status==3){%>
        <div class="myTextcen myAlign myPos" >
            <div class="bg-success mybg">
              <p>服务器出错了!</p>
              <button class="myBtnQR btn ">确认</button>
            </div>
         </div>
         <%}%>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery-validate/1.14.0/jquery.validate.min.js"></script>
  <script src="/javascripts/emailVerify.js"></script>
  <script>
    $(function(){
      validate("form");
      $(".myBtnQR").on("click",()=>{
        location.replace(location.href)
      })
    })
  </script>
</html>
