<nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">N-博客首页</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active indexBlog"><a href="#">程序开发 <span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left serchForm" method="POST" action="/">
              <div class="form-group  serchBox"><!-- form-control -->
                <input type="text" name="serchContent" class="form-control serchInput" style="height: 100%;width: 80%;" placeholder="查找作者/文章名">
                <span class="iconfont icon-sousuo1 serchSpan"></span>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right myMarR">
              <li class="writeLi"><a href="/writeBlog">写博客</a></li>
              <%if(user){%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle myImgA" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="headerImg" src="" alt=""></a>
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
                <ul class="dropdown-menu userInMuen" style=" margin: 8px -60px 0 0;">
                  <li><a href="#">我的博客</a></li>
                  <li><a href="#">消息</a></li>
                  <li><a href="#">账号设置</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">退出</a></li>
                </ul>
              </li>
              <%}else {%>
              <li><a href="/login">登录</a></li>
              <li><a href="/register">注册</a></li>
              <%}%>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>