<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>文章内容</title>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/index.css">
   <link rel="stylesheet" href="/css/personalData.css">

</head> 
<body>
<%-include header%>
  
  <div class="public">
	  <article class="article fl">
	   <div class="tit_li">
	       <h1 class="h_ti"><span class="glyphicon glyphicon-tree-conifer"></span><a href="#">标题1</a></h1>
	       <div class="neirong">
	       <p>111111111111111111111111111111111111111111111111222222222222222222222222222222222222222222222222222222222222222222222222222222222</p>
	       <span class="mar">时间</span> <span class="mar">阅读数</span><span class="mar">评论数</span>
	       <div class="delete_alter" ><a href="#" class="dele fr">删除</a><a href="#" class="alte fr">修改</a></div>
	       </div>
	   </div>
	   <div class="tit_li">
	       <h1 class="h_ti"><span class="glyphicon glyphicon-tree-conifer"></span><a href="#">标题2</a></h1>
	       <div class="neirong">
	       <p>111111111111111111111111111111111111111111111111222222222222222222222222222222222222222222222222222222222222222222222222222222222</p>
	       <span class="mar">时间</span> <span class="mar">阅读数</span><span class="mar">评论数</span>
	       <div class="delete_alter" ><a href="#" class="dele fr">删除</a><a href="#" class="alte fr">修改</a></div>
	       </div>
	   </div>
	   <div class="tit_li">
	       <h1 class="h_ti"><span class="glyphicon glyphicon-tree-conifer"></span><a href="#">标题3</a></h1>
	       <div class="neirong">
	       <p>111111111111111111111111111111111111111111111111222222222222222222222222222222222222222222222222222222222222222222222222222222222</p>
	       <span class="mar">时间</span> <span class="mar">阅读数</span><span class="mar">评论数</span>
	       <div class="delete_alter" ><a href="#" class="dele fr">删除</a><a href="#" class="alte fr">修改</a></div>
	       </div>
	   </div>
	   <div class="tit_li">
	       <h1 class="h_ti"><span class="glyphicon glyphicon-tree-conifer"></span><a href="#">标题4</a></h1>
	       <div class="neirong">
	       <p>111111111111111111111111111111111111111111111111222222222222222222222222222222222222222222222222222222222222222222222222222222222</p>
	       <span class="mar">时间</span> <span class="mar">阅读数</span><span class="mar">评论数</span>
	       <div class="delete_alter" ><a href="#" class="dele fr">删除</a><a href="#" class="alte fr">修改</a></div>
	       </div>
	   </div>
	   <div class="tit_li">
	       <h1 class="h_ti"><span class="glyphicon glyphicon-tree-conifer"></span><a href="#">标题5</a></h1>
	       <div class="neirong">
	       <p>111111111111111111111111111111111111111111111111222222222222222222222222222222222222222222222222222222222222222222222222222222222</p>
	       <span class="mar">时间</span> <span class="mar">阅读数</span><span class="mar">评论数</span>
	       <div class="delete_alter" ><a href="#" class="dele fr">删除</a><a href="#" class="alte fr">修改</a></div>
	       </div>
	   </div>
	  
	   </article>
	  <aside  class="aside fr">
	  		<div class="per_list">
	  		 <h2 class="per_h2"><span class="glyphicon glyphicon-align-left"></span><b>个人资料</b></h2>
	  		 <div class="per_img">
	  		<img src="../headerImg/3FzlDk0CQhj-d7dOA5P_wCz2.jpeg" alt="..." class="img-circle" style="width: 38px;height: 38px;margin-left:4px;"><span class="per_name">用户名称</span>
	  		 </div>
	  		 <div class="per_zhuce">
	  		 	<span class="per_time">注册时间：</span>
	  		 </div>
	  		 <div class="per_zhuce">
	  		 	<span class="per_time">作品数：</span>
	  		 </div>
	  		 <div class="per_zhuce">
	  		 	<span class="per_time">获取赞数：</span>
	  		 </div>
	  		 <div class="per_zhuce">
	  		 	<span class="per_time">代表作品：</span>
	  		 </div>
	  		 <div class="per_zhuce">
	  		 	<span class="per_time">学术成就：</span>
	  		 </div>
	  		</div>


	  		<div class="per_list ">
	  		 <h2 class="per_h2"><span class="glyphicon glyphicon-align-left"></span><b>热门文章</b></h2>
	  		    <ul>
	  		    	<li></li>
	  		    	<li></li>
	  		    	<li></li>
	  		    	<li></li>
	  		    	<li></li>
	  		    </ul>
	  		 
	  		</div>
	  
	   </aside>
  </div>
    <div style="clear: both;"><%-include footer%></div>
    <div class="pop_up">
       <div class="pop_con">
	    	<span class="pop_text">是不是进行删除？</span>
	    	<div class="anniu">
	    		<button class="anniu_y">是</button><button class="anniu_n">否</button>
	    	</div>
	   </div>

    </div>
    <div class="pop_up_t">
        <div class="com" style="width:100%;height:100%;margin-top:100px;">
            <form method="POST" action="#">
                <div class="form-group row col-sm-offset-1 col-xs-offset-2">
                  <div class="col-sm-8 col-xs-10  "  style="font-size: 20px;color: #000;">
                    <label for="theme" >标题</label ">
                    <br/>
                    <input type="text" name="theme" class="form-control input-lg" id="theme" placeholder="博客标题" style="width: 100%;">
                  </div>
                </div>
                <div class="row col-sm-offset-1 col-xs-offset-2">
                  <div class="form-group col-sm-3 col-xs-6">
                  <label for="theme">文章类型</label>
                    <br/>
                    <select name="title" class="write_title">
                        <option value="smart">人工智能</option>
                        <option value="Cloud">云计算/大数据</option>
                        <option value="game">游戏开发</option>
                        <option value="qianduan">前端</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row col-sm-offset-1 col-xs-offset-2">
                    <div class="col-sm-8 col-xs-10 " style="font-size: 20px;color: #000;">
                      <label for="theme">正文</label>
                      <textarea  name="blogInfo" class="form-control" rows="18" style="resize:none;"></textarea>
                    </div>
                  </div>
                <div class="form-group row col-sm-offset-1 col-xs-offset-2">
                  <button type="submit" class="btn-success but_yes" >确定</button>
                  <button class="btn-danger but_no" >退出</button>
                </div>
              </form>
    </div>  
	   </div>

    </div>
 
</body>
	<script type="text/javascript" src="/js/jQuery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/idangerous.swiper.js"></script> 
    <script>
    $(function(){
        $(".index").removeClass("on");
         var shan;
         $(".dele").on("click",function(e){
         	$(".pop_up").css("display","flex");
         	shan=e.target.parentNode.parentNode.parentNode;
         })
         $(".anniu_y").on("click",function(){
         	$.ajax({
         		url:"",
         		type:"post",
         		data:{remove:"true"},
         		success:(data)=>{

         		}

         	})
         	shan.style.display="none";
         	$(".pop_up").css("display","none");
         })
         $(".anniu_n").on("click",function(){
         	$(".pop_up").css("display","none");
         })


         $(".alte").on("click",function(){
         	$(".pop_up_t").css("display","flex");
         	
         $(".but_yes").on("click",function(){
         	$.ajax({
         		url:"",
         		type:"post",
         		data:{xiu:"true"},
         		success:(data)=>{

         		}
         	})
         	$(".pop_up_t").css("display","none");
         })
         $(".but_no").on("click",function(){
         	$(".pop_up_t").css("display","none");
         	})
         })



    })
    </script>
</html>